<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bootstrap.css') }}"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
    {% block navbar %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('BloggerBlogBundle_homepage') }}">HakinLumberjack</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('BloggerBlogBundle_about') }}">About</a></li>
                            <li><a href="{{ path('BloggerBlogBundle_contact') }}">Contact</a></li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
    {% endblock %}

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <!-- sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                {% block sidebar %}
                {% endblock sidebar %}
            </div>
            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                {% block body %}
                {% endblock body %}
            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div><!--/.container-->

        {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        {% endjavascripts %}
    </body>
</html>
