<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
            HackinLumberjack
        {% endblock %}
    </title>
    {% block metadata %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Blog about general interests such as programming, traviling, ect.">
        <meta name="keywords" content="Programming">
    {% endblock %}

    {% stylesheets '@bootstrap_css' %}
    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bootstrap.css') }}"/> #}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bootstrap.edit.min.css') }}"/>
    {% endstylesheets %}

    <style>
    </style>

    {% block page_css %}
    {% endblock page_css %}
    <link rel="icon" type="image/x-icon" href="{{ asset('hackin_icon.png') }}" />
</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('BloggerBlogBundle_homepage') }}">HakinLumberjack</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {% block navbar_options %}
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('BloggerBlogBundle_about') }}">About</a></li>
                        <li><a href="{{ path('BloggerBlogBundle_contact') }}">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('BloggerAdminBundle_admin') }}">Admin</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Sign out</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
        </div>
    </nav>
{% endblock %}

<div class="container">
    {% block body %}
    {% endblock body %}
</div>


{% block defaultjs %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block page_javascript %}
{% endblock page_javascript %}

</body>
</html>
