{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block title %}HackinLumberjack{% endblock%}

{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <header>
                <h2>
                    <a href="{{ path('BloggerAdminBundle_create_blog', { 'id': blog.id }) }}">
                        {{ blog.title }} (Published: {{ blog.published ? 'Yes':'No' }})
                    </a>
                </h2>
            </header>

            <footer class="meta">
                <p>
                    Posted by
                    <span class="highlight">
                        {{blog.author}}
                    </span>
                    on {{ blog.created|date('l, F j, Y h:iA') }}
                </p>
            </footer>
        </article>
    {% else %}
        <p class="text-center">There are no blog entries for HackinLumberjack</p>
    {% endfor %}
{% endblock %}