{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block title %}Create Blog{% endblock%}

{% block body %}
  <div class="col-md-12">
    <header>
        <h1>HackinLumberjack Creates the best blogs. So Create one!</h1>
    </header>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Blog:</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% if blog.id is defined %}
                            <input type="hidden" id="id" value="{{ blog.id }}">
                        {% else %}
                            <input type="hidden" id="id" value="0">
                        {% endif %}
                        {% if blog.title is defined %}
                            <input id="blog_title" type="text" class="form-control" placeholder="Blog Title" aria-describedby="basic-addon1" value="{{ blog.title }}">
                        {% else %}
                            <input id="blog_title" type="text" class="form-control" placeholder="Blog Title" aria-describedby="basic-addon1">
                        {% endif %}
                        <br/>
                        {% if blog.rawBlog is defined %}
                            <textarea class="form-control" rows="25" id="new_blog">{{ blog.rawBlog }}</textarea>
                        {% else %}
                            <textarea class="form-control" rows="25" id="new_blog"></textarea>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Preview:</h3>
                </div>
                <div class="panel-body">
                    <div id="preview"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <p>Options:</p>
            <div class="checkbox">
                <label><input id="live_preview" type="checkbox" value="">Live Preview</label>
                {% if blog.published is defined %}
                    <label><input id="publish_blog" type="checkbox" {{ blog.published ? "checked":'' }}>Publish Blog</label>
                {% else %}
                    <label><input id="publish_blog" type="checkbox" value="">Publish Blog</label>
                {% endif %}
                <button class="btn btn-default save_blog" type="submit">Save Blog</button>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

    {% block page_javascript %}
           <script>
            $("#new_blog").keyup(function() {
                console.log("New Blog Clicked");
                if($('#live_preview').is(':checked')) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('BloggerAdminBundle_update_blog_markdown') }}",
                        data: {text: $('#new_blog').val()},
                        dataType: 'json',
                        success: function (data) {
                            $('#preview').html(data.text);
                            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                        },

                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        }
                    })
                }
            });

            $(".save_blog").click(function() {
                console.log("Save Blog Clicked");
                $.ajax({
                    type: "POST",
                    url: "{{ path('BloggerAdminBundle_save_blog') }}",
                    data: {id : $('#id').val(), title: $('#blog_title').val(), text: $('#new_blog').val(), publish: $('#publish_blog').is(':checked')},
                    dataType: 'json',
                    success: function (data) {
                        alert("Data was save successful: " + data.success);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Data was not save successful: " + XMLHttpRequest + textStatus + errorThrown);
                    }
                })
            });

            {#
                $.post('{{ path('BloggerBlogBundle_update_blog_markdown') }}',
                        {text: $('#new_blog').val()},
                        function (response) {
                            if (response.code == 100 && response.success) {//dummy check
                                $('#preview').innerHTML = response.text;
                            }
                        }, "json");
            });
            #}
    </script>
    {% endblock page_javascript %}